/* styles */
/* line 8, ../sass/style.scss */
.logo {
  max-height: 120px;
  margin-top: 200px; }

/* line 12, ../sass/style.scss */
.client p {
  font-size: 18px; }

/* line 16, ../sass/style.scss */
.discoverBtn {
  display: inline-block;
  margin-top: 60px;
  border: solid 3px #fff;
  font-size: 24px;
  padding: 5px 15px; }

/* line 23, ../sass/style.scss */
hr {
  margin: 20px 50px;
  border: 0;
  height: 0;
  border-top: 1px solid white; }

/* line 29, ../sass/style.scss */
.portfolio {
  position: relative;
  display: inline-block;
  width: 365px;
  height: 495px;
  margin: 11px; }

/* line 36, ../sass/style.scss */
.portfolio .client {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: #fff; }

/* background colour based upon position */
/* line 47, ../sass/style.scss */
.portfolio:nth-child(3n+1) .client {
  background: rgba(200, 20, 20, 0.8); }

/* line 50, ../sass/style.scss */
.portfolio:nth-child(3n+2) .client {
  background: rgba(7, 134, 63, 0.8); }

/* line 53, ../sass/style.scss */
.portfolio:nth-child(3n+3) .client {
  background: rgba(7, 134, 200, 0.8); }

/* line 56, ../sass/style.scss */
.portfolio:nth-child(3n+1) .client:hover {
  background: rgba(107, 11, 11, 0.8);
  transition: .3s ease-in-out; }

/* line 60, ../sass/style.scss */
.portfolio:nth-child(3n+2) .client:hover {
  background: rgba(2, 37, 17, 0.8);
  transition: .3s ease-in-out; }

/* line 64, ../sass/style.scss */
.portfolio:nth-child(3n+3) .client:hover {
  background: rgba(4, 68, 101, 0.8);
  transition: .3s ease-in-out; }

/* hover effect */
/* line 69, ../sass/style.scss */
.portfolio img {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

/* line 72, ../sass/style.scss */
.portfolio:hover img {
  transform: scale(1.2); }

/* line 75, ../sass/style.scss */
.portfolio {
  overflow: hidden; }

/* line 78, ../sass/style.scss */
.discoverBtn, .client hr, .client p {
  opacity: 0;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

/* line 83, ../sass/style.scss */
.client:hover .discoverBtn, .client:hover hr, .client:hover p {
  opacity: 1; }
/* line 86, ../sass/style.scss */
.client:hover .logo {
  margin-top: 60px;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

/* responsive adjustments */
/* small phones */
/* Extra Small Devices, Tablets - col-xs-x */
/* Small Devices, Desktops - col-sm-x  */
/* Medium Devices, Wide Screens - col-md-x */
/* Larger Devices, Wide Screens - col-ld-x */
